.App-title {
  padding-top: 50px;
  margin-top: 0px;
  font-size: 50px;
}

.App {
  margin-top: 0px;
  text-align: center;
  line-height: 40px;
  height: 100%;
}

body {
  background: rgba(118, 98, 206, 1.0);
  background: linear-gradient(90deg, rgb(107, 121, 132), rgb(177, 184, 188));
}